$font-pattay: "Pattaya", sans-serif;
$font-work-sans: "Work Sans", sans-serif;
$font-mirza: "Mirza", cursive;
$font-family: $font-mirza;

$base-font-size: 14.667;

$max-width: 1440px;
$web-side-space: 80px;

$clr-dark-blue: #2b3945;
$clr-very-dark-blue: #202c37;
$clr-very-dark-blue-2: #111517;
$clr-dark-gray: #858585;
$clr-very-light-gray: #fafafa;
$clr-black: #000000;
$clr-white: #ffffff;

$clr-001: #999999;
$clr-002: #eeeeee;
$clr-003: #666666;
$clr-004: wheat;
$clr-005: #337ab7;
$clr-006: #2e6da4;
$clr-007: #f946f2;
$clr-008: #162522;

$dimmed-opacity: 0.65;
$border-radius: 3px;
$card-border-radius: 20px;
