@import "../../SharedStyles/variables";
@import "../../SharedStyles/functions";

.Privacy {
  background-color: $clr-white;
  min-height: 100vh;
  color: $clr-black;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  .container {
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    .contents {
      margin-top: emsToPx(5);
      border-radius: 10px;
      padding: 50px 30px;
      h2 {
        font-size: 24px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
